<h1>Listing paths</h1>

<table>
  <thead>
    <tr>
      <th>start_node_id</th>
      <th>end_node_id</th>
      <th>State</th>
      <th>start_description</th>
      <th>end_description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paths.each do |path| %>
      <tr>
        <td><%= path.start_node_id %></td>
        <td><%= path.end_node_id %></td>
        <td><%= path.state %></td>
        <td><%= path.start_description %></td>
        <td><%= path.end_description %></td>
        <td><%= link_to 'Show', path %></td>
        <td><%= link_to 'Edit', edit_path_path(path) %></td>
        <td><%= link_to 'Destroy', path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Path', new_path_path %>
