<p id="notice"><%= notice %></p>

<p>
  <strong>start_node_id:</strong>
  <%= @path.start_node_id %>
</p>

<p>
  <strong>end_node_id:</strong>
  <%= @path.end_node_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @path.state %>
</p>

<p>
  <strong>start_description:</strong>
  <%= @path.start_description %>
</p>

<p>
  <strong>end_description:</strong>
  <%= @path.end_description %>
</p>

<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>
