<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strongt >
  <%= @node.description %>
</p>

Options:
<ul>
  <% @node.exits().each do |path| %>
    <li>
      Exit = <%= path.start_description %>
    </li>
  <% end %>
</ul>

<!-- <%= link_to 'Edit', edit_node_path(@node) %> |
  <%= link_to 'Back', nodes_path %> -->
